<table>
  <tr>
    <td>
      <input
        type="number"
        [(ngModel)]="empNumber"
        placeholder="Employee number"
      />
    </td>
    <td>
      <input type="text" [(ngModel)]="empName" placeholder="Employee Name" />
    </td>
    <td>
      <input type="text" [(ngModel)]="empJob" placeholder="Employee Job" />
    </td>
    <td>
      <input
        type="number"
        [(ngModel)]="empSalary"
        placeholder="Employee Salary"
      />
    </td>
    <td>
      <input
        type="number"
        [(ngModel)]="empDeptNo"
        placeholder="Employee Dept no"
      />
    </td>
    <td>
      <input
        type="number"
        [(ngModel)]="empGrade"
        placeholder="Employee grade"
      />
    </td>
  </tr>
  <tr>
    <td>
      <input type="button" value="Get Employees" (click)="getData_click()" />
    </td>
    <td>
      <input type="button" value="Add Employee" (click)="addData_click()" />
    </td>
    <td>
      <input
        type="button"
        value="Update Employee"
        (click)="updateData_click()"
      />
    </td>
    <td>
      <input type="button" value="Clear Fields" (click)="clearFields()" />
    </td>
  </tr>
</table>
<hr />

<table border="2px" cellpadding="5px">
  <tr>
    <th>Employee Number</th>
    <th>Employee Name</th>
    <th>Employee Job</th>
    <th>Employee Salary</th>
    <th>Employee Dept number</th>
    <th>Employee grade</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{ employee.empNumber }}</td>
    <td>{{ employee.empName | titlecase }}</td>
    <td>{{ employee.empJob | titlecase }}</td>
    <td>{{ employee.empSalary | currency }}</td>
    <td>{{ employee.empDeptNo }}</td>
    <td>{{ employee.empGrade | gradePipe }}</td>
    <td>
      <a
        href="javascript:void(0);"
        (click)="selectData_click(employee.empNumber)"
        >Select</a
      >
    </td>
    <td>
      <a
        href="javascript:void(0);"
        (click)="deleteData_click(employee.empNumber)"
        >Delete</a
      >
    </td>
  </tr>
</table>
