<h1>Application Development using angular</h1>

<hr/>
<table border="2px">
    <tr>
        <th colspan="2">Employee Details</th>
    </tr>
    <tr>
        <td>Employee ID</td>
        <td>{{empId}}</td>
    </tr>
    <tr>
        <td>Employee Name</td>
        <td>{{empName}}</td>
    </tr>
    <tr>
        <td>Employee Job</td>
        <td>{{empJob}}</td>
    </tr>
    <tr>
        <td>Employee Salary</td>
        <td>{{empSalary}}</td>
    </tr>
    <tr>
        <td>Employee Dept</td>
        <td>{{empDept}}</td>
    </tr>
</table>
<hr/>

<p>Display img</p>
<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="Landscape">

<p>ngFor ex:</p>
<ul>
    <li *ngFor="let user of users">{{user}}</li>
</ul>