<h2>Employee table</h2>
<table border="2px">
  <tr>
    <th>Employee Number</th>
    <th>Employee Name</th>
    <th>Employee Job</th>
    <th>Employee Salary</th>
    <th>Employee Dept number</th>
    <th>Employee grade</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{ employee.empNumber }}</td>
    <td>{{ employee.empName | titlecase}}</td>
    <td>{{ employee.empJob | titlecase}}</td>
    <td>{{ employee.empSalary | currency}}</td>
    <td>{{ employee.empDeptNo }}</td>
    <td>{{ employee.empGrade | gradePipe}}</td>
  </tr>
</table>
<hr />
<h3>Add Employee:</h3>
<table border="1px" cellpadding="5px">
  <tr>
    <td>Employee Number:</td>
    <td><input type="number" [(ngModel)]="emp.empNumber" /></td>
  </tr>
  <tr>
    <td>Employee Name:</td>
    <td><input type="text" [(ngModel)]="emp.empName" /></td>
  </tr>
  <tr>
    <td>Employee Job:</td>
    <td><input type="text" [(ngModel)]="emp.empJob" /></td>
  </tr>
  <tr>
    <td>Employee Salary:</td>
    <td><input type="number" [(ngModel)]="emp.empSalary" /></td>
  </tr>
  <tr>
    <td>Employee Dept number:</td>
    <td><input type="number" [(ngModel)]="emp.empDeptNo" /></td>
  </tr>
  <tr>
    <td>Employee grade:</td>
    <td><input type="number" [(ngModel)]="emp.empGrade" /></td>
  </tr>
  <tr>
    <td colspan="2"><button (click)="addEmployee()">Add Employee</button></td>
  </tr>
</table>
<hr />
<h3>Remove Employee:</h3>
<table border="1px" cellpadding="5px">
  <tr>
    <td>Employee Number:</td>
    <td><input type="number" [(ngModel)]="emp.empNumber" /></td>
  </tr>
  <tr>
    <td colspan="2">
      <button (click)="removeEmployee()">Remove Employee</button>
    </td>
  </tr>
</table>
<hr />
