<table border="2" >
    <tr>
        <th colspan="5">Sort By</th>
    </tr>
    <tr>
        <th><a href="javascript:void(0);"  (click)='sortChanged("empNumber")'>Emp Number</a></th>
        <th><a href="javascript:void(0);"  (click)='sortChanged("empName")'>Emp Name</a></th>
        <th><a href="javascript:void(0);"  (click)='sortChanged("empJob")'>Emp Job</a></th>
        <th><a href="javascript:void(0);"  (click)='sortChanged("empSalary")'>Emp Salary</a></th>
        <th><a href="javascript:void(0);"  (click)='sortChanged("empDeptNo")'>Emp Dept number</a></th>
    </tr>
</table>